<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}Titulo Base {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/media/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/media/css/excite-bike/jquery-ui-1.10.3.custom.css">


	<script src="/media/js/ajax.js"></script>
	<script src="/media/js/jquery.js"></script>
	<script src="/media/js/jquery-ui.js"></script>
	<script src="/media/bootstrap/js/bootstrap.js"></script>
	<style type="text/css">
		body{
			background-color: #800080;
			padding-top: 60px;
			padding-bottom: 40px;
		}
		.hero-unit{    padding-top: 39px;}
		.sidebar-nav{  padding: 9px;}
	</style>	
</head>
<body>
	
	<div class="navbar navbar-inverse navbar">
		<div class = "navbar-inner">
			<a class ="brand" href="{% url 'vista_principal' %}"><font size="+3" face="Arial">L'BEL &eacute;sika cy'zone</font></a>
			<ul class = "nav nav-header">		
				<button class="btn"><li><a href="/cosmeticos/page/1">Productos</a></li></button>
				<button class="btn"><li><a href="{% url 'vista_registro' %}">Registrarse</a></li></button>
				{% if user.is_authenticated %}
					<button class="btn"><li><a href="{% url 'vista_logout' %}"> Cerrar Sesion </a></li></button>
				{% else %}
					<button class="btn"><li><a href="{% url 'vista_login' %}"> Iniciar Sesion </a></li></button>
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span9">
				<div class="hero-unit">
					{% block content %}
					{% endblock %}
				</div>
			</div>
			<div class="span3">
				<div class="well sidebar-nav">
					<div class="nav nav-list">
						<li class ="nav-header">Mis Cosmeticos </li>
						<br>
						<h4>Informacion</h4>
						<div class="alert alert-info">
							<h1>Cosmeticos</h1>
							<p><b>Direccion </b> : Diagonal 15-23</p>
							<p><b>Telefono</b> : 8 206962</p>
							<p>322 644 0562</p>
							<p>Popayan - Cauca</p>
						</div>
						<div align="center">
							<img src="/media/images/cyzone.jpg" width ="250px">
						</div>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>
</body>
</html>